<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your license plate</ng-template>
      <mat-form-field>
        <input matInput placeholder="License Plate (XXX-1234)" formControlName="firstCtrl" [(ngModel)]="licensePlate" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" class="flexbox-parent">
    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <form [formGroup]="secondFormGroup" layout="row" layout-align="center center">
          <ng-template matStepLabel>When do you want to predict "pico y placa"?</ng-template>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="secondCtrl" [(ngModel)]="dateToDrive"
              required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Chose a time" type="time" formControlName="secondCtrl" [(ngModel)]="timeToDrive" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)='predictPicoYPlaca()'>Next</button>
          </div>
        </form>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </mat-step>
  <mat-step>
    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <form>
          <ng-template matStepLabel>Done</ng-template>
          {{picoYPlacaResponse}}
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </form>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-step>
</mat-horizontal-stepper>